<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="../../static/css/public.css" media="all">
    <style>
        .top-panel {
            border: 1px solid #eceff9;
            border-radius: 5px;
            text-align: center;
        }

        .top-panel > .layui-card-body {
            height: 72px;
        }

        .top-panel-number {
            line-height: 60px;
            font-size: 30px;
            border-right: 1px solid #eceff9;
        }

        .top-panel-tips {
            line-height: 20px;
            font-size: 12px
        }
    </style>
</head>
<body>
<!--<div class="layuimini-container">-->
<div class="layuimini-main">

    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header"><a href="/saleman_receivable_info/?saleman={{ saleman_name }}">当月回款金额</a>
                </div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs9 layui-col-md9 top-panel-number">
                            {{ six_receivable_date.3 }}
                        </div>
                        <div class="layui-col-xs3 layui-col-md3 top-panel-tips">
                            比上月
                            {% if six_receivable_date.3 >= six_receivable_date.2 %}
                                <a style="color: #1aa094">
                                    ▲{{ before_one_month_receivable }} </a>
                            {% else %}
                                <a style="color: #bd3004">
                                    ▼{{ before_one_month_receivable }}</a>
                            {% endif %}
                            <br>
                            比上上月
                            <a style="color: #1aa094">
                                {% if six_receivable_date.3 >= six_receivable_date.1 %}
                                    ▲{{ before_two_month_receivable }}</a>
                                {% else %}
                                    <a style="color: #bd3004">
                                        ▼{{ before_two_month_receivable }}</a>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header"><a href="/saleman_sale_money_info/">当月销售额</a>
                </div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs9 layui-col-md9 top-panel-number">
                            {{ six_sale_money_date.3 }}
                        </div>
                        <div class="layui-col-xs3 layui-col-md3 top-panel-tips">
                            比上月
                            {% if six_sale_money_date.3 >= six_sale_money_date.2 %}
                                <a style="color: #1aa094">
                                    ▲{{ before_one_month_sale_money }} </a>
                            {% else %}
                                <a style="color: #bd3004">
                                    ▼{{ before_one_month_sale_money }}</a>
                            {% endif %}
                            <br>
                            比上上月
                            <a style="color: #1aa094">
                                {% if six_sale_money_date.3 >= six_sale_money_date.1 %}
                                    ▲{{ before_two_month_sale_money }}</a>
                                {% else %}
                                    <a style="color: #bd3004">
                                        ▼{{ before_two_month_sale_money }}</a>
                                {% endif %}
                        </div>
                    </div>
                </div>
        </div>
        </div>
        <div class="layui-col-xs12 layui-col-md3">

             <div class="layui-card top-panel">
                <div class="layui-card-header"><a href="/saleman_cost/">费用</a></div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs9 layui-col-md9 top-panel-number">
                            {{ six_cost_date.3 }}
                        </div>
                        <div class="layui-col-xs3 layui-col-md3 top-panel-tips">
                            比上月
                            {% if six_cost_date.3 >= six_cost_date.2 %}
                                <a style="color: #1aa094">
                                    ▲{{ before_one_month_cost_number }} </a>
                            {% else %}
                                <a style="color: #bd3004">
                                    ▼{{ before_one_month_cost_number }}</a>
                            {% endif %}
                            <br>
                            比上上月

                            {% if six_cost_date.3 >= six_cost_date.1 %}
                                <a style="color: #1aa094">
                                    ▲{{ before_two_month_cost_number }}</a>
                            {% else %}
                                <a style="color: #bd3004">
                                    ▼{{ before_two_month_cost_number }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="layui-col-xs12 layui-col-md3">

            <div class="layui-card top-panel">
                <div class="layui-card-header">当月新开客户</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs9 layui-col-md9 top-panel-number">
                            9,054,056
                        </div>
                        <div class="layui-col-xs3 layui-col-md3 top-panel-tips">
                            比昨天 <a style="color: #1aa094">▲0.12</a><br>
                            比七日 <a style="color: #bd3004">▼0.06</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-md3">

            <div class="layui-card top-panel">
                <div class="layui-card-header">当月提成</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs9 layui-col-md9 top-panel-number">
                            9,054,056
                        </div>
                        <div class="layui-col-xs3 layui-col-md3 top-panel-tips">
                            比昨天 <a style="color: #1aa094">▲0.12</a><br>
                            比七日 <a style="color: #bd3004">▼0.06</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12 layui-col-md9">
            <div id="echarts-records" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
        </div>
        <div class="layui-col-xs12 layui-col-md3">
            <div id="echarts-pies" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
        </div>
    </div>


    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12 layui-col-md6">
            <div id="echarts-dataset" style="background-color:#ffffff;min-height:300px;padding: 10px"></div>
        </div>
        <div class="layui-col-xs12 layui-col-md6">
            <div id="echarts-map" style="background-color:#ffffff;min-height:300px;padding: 10px"></div>
        </div>
    </div>

</div>
<!--</div>-->
<script src="../../static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="../../static/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['layer', 'echarts'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            echarts = layui.echarts;

        /**
         * 报表功能
         */
        var echartsRecords = echarts.init(document.getElementById('echarts-records'), 'walden');

        var optionRecords = {
            title: {
                text: '数据报表'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985'
                    }
                }
            },
            legend: {
                data: ['回款额', '销售额', '费用',]
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: {{ month_list|safe }}
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '费用',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    data: {{ six_cost_date }}
                },
                {
                    name: '销售额',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    data: {{ six_sale_money_date|safe }}
                },

                {
                    name: '回款额',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    label: {
                        normal: {
                            show: true,
                            position: 'top'
                        }
                    },
                    data:{{ six_receivable_date |safe }}
                }
            ]
        };
        echartsRecords.setOption(optionRecords);


        /**
         * 玫瑰图表
         */
        var echartsPies = echarts.init(document.getElementById('echarts-pies'), 'walden');
        var optionPies = {
            title: {
                text: '月度产品排名',
                left: 'right'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: {{ product_date_name_list |safe }}
            },
            series: [
                {
                    name: '产品名称',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    roseType: 'radius',
                    data: [
                        {value: {{ product_date_price_list.0 }}, name: '{{ product_date_name_list.0 }}'},
                        {value: {{ product_date_price_list.1 }}, name: '{{ product_date_name_list.1 }}'},
                        {value: {{ product_date_price_list.2 }}, name: '{{ product_date_name_list.2}}'},
                        {value: {{ product_date_price_list.3}}, name: '{{ product_date_name_list.3 }}'},
                        {value: {{ product_date_price_list.4}}, name: '{{ product_date_name_list.4 }}'}
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        echartsPies.setOption(optionPies);


        /**
         * 柱状图
         */
        var echartsDataset = echarts.init(document.getElementById('echarts-dataset'), 'walden');

        var optionDataset = {
            legend: {},
            tooltip: {},
            dataset: {
                dimensions: ['product', '一月', '二月', '三月'],
                source: [
                    {product: 'Matcha Latte', '一月': 43.3, '二月': 85.8, '三月': 93.7},
                    {product: 'Milk Tea', '一月': 83.1, '二月': 73.4, '三月': 55.1},
                    {product: 'Cheese Cocoa', '一月': 86.4, '二月': 65.2, '三月': 82.5},
                    {product: 'Walnut Brownie', '一月': 72.4, '二月': 53.9, '三月': 39.1}
                ]
            },
            xAxis: {type: 'category'},
            yAxis: {},
            // Declare several bar series, each will be mapped
            // to a column of dataset.source by default.
            series: [
                {type: 'bar'},
                {type: 'bar'},
                {type: 'bar'}
            ]
        };

        echartsDataset.setOption(optionDataset);


        /**
         * 中国地图
         */
        var echartsMap = echarts.init(document.getElementById('echarts-map'), 'walden');


         var optionMap = {
            legend: {},
            tooltip: {
                trigger: 'axis',
                showContent: false
            },
            dataset: {
                source: [
                    ['时间',
                        {% for month in month_list %}
                            '{{ month }}',
                        {% endfor %}
                    ],
                    ['差旅费', {% for money in six_chai_lv_cost_date %}
                        '{{ money }}',
                    {% endfor %}],
                    ['样品费', {% for money in six_yang_pin_cost_date %}
                        '{{ money }}',
                    {% endfor %}],
                    ['核销费', {% for money in six_he_xiao_cost_date %}
                        '{{ money }}',
                    {% endfor %}],
                    ['品鉴费', {% for money in six_pin_jian_cost_date %}
                        '{{ money }}',
                    {% endfor %}]
                ]
            },
            xAxis: {type: 'category'},
            yAxis: {gridIndex: 0},
            grid: {top: '55%'},
            series: [
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {
                    type: 'pie',
                    id: 'pie',
                    radius: '30%',
                    center: ['50%', '25%'],
                    label: {
                        formatter: '{b}: {@{{ month_list.3 }}} ({d}%)'
                    },
                    encode: {
                        itemName: '时间',
                        value: '{{ month_list.3 }}',
                        tooltip: '{{ month_list.3 }}'
                    }
                }
            ]
        };

        echartsMap.setOption(optionMap);


        // echarts 窗口缩放自适应
        window.onresize = function () {
            echartsRecords.resize();
        }

    });
</script>
</body>
</html>
