<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>销售信息修改</title>
    <link rel="stylesheet" href="/static/lib/layui-v2.5.5/css/layui.css">
    <script src="/static/lib/layui-v2.5.5/layui.js"></script>
    <STYLE>
        th {
            font-size: x-large;
        }
    </STYLE>

</head>
<body>
<form action="/edit_saleman_sale_money_info/" method="post">
    <label>
        <input type="text" class="layui-input" name='id' readonly value="{{ search_sale_money_info.id }}"
               style="width: 0;height: 0">
    </label>
    <table style='align-content: center;font-size: 30px' class="layui-table">
        <thead>
        <tr>
            <th colspan="2">
                <h1 style="text-align: center">销售信息修改</h1>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th colspan="8">
                <button class="layui-btn" style="margin-left:1%" lay-event="save" type="submit">保存</button>
            </th>
        </tr>
        <tr>
            <th style="font-size: large">
                交易时间
            </th>
            <th>
                <label>
                    <input type="date" class="layui-input" name='date'
                           value="{{ search_sale_money_info.sale_date |date:'Y-m-d' }}">
                </label>
            </th>
            <th style="font-size: large">
                购货单位
            </th>
            <th>
               <label>
                    <input type="text" class="layui-input" list="customers"
                           value="{{ search_sale_money_info.customer }}">
                </label>
                <datalist id="customers" style="display: none">
                    {% for customer in all_customer_name %}
                        <option name="customer">{{ customer.customer }}</option>
                    {% endfor %}

                </datalist>
            </th>
            <th style="font-size: large">
                业务员
            </th>
            <th>
                <label>
                    <input type="text" class="layui-input" name='saleman' readonly
                           value="{{ search_sale_money_info.saleman }}">
                </label>
            </th>
            <th style="font-size: large">
                区域
            </th>
            <th>
                <label>
                    <input type="text" class="layui-input" name='area' readonly
                           value="{{ search_sale_money_info.area }}">
                </label>
            </th>
        </tr>
        <tr>
            <th style="font-size: large">
                产品名称
            </th>
            <th colspan="">
                <label>
                    <input type="text" class="layui-input" list="products"
                           value="{{ search_sale_money_info.product }}">
                </label>
                <datalist id="products" style="display: none">
                    {% for product in all_product_name %}
                        <option name="product">{{ product.product }}</option>
                    {% endfor %}

                </datalist>
            </th>
            <th style="font-size: large">
                购买数量
            </th>
            <th colspan="">
                <label>
                    <input type="text" class="layui-input" name='number'
                           value="{{ search_sale_money_info.product_number }}">
                </label>
            </th>
            <th style="font-size: large">
                产品单价
            </th>
            <th colspan="">
                <label>
                    <input type="text" class="layui-input" name='price'
                           value="{{ search_sale_money_info.product_price }}">
                </label>
            </th>
            <th style="font-size: large">
                总价
            </th>
            <th colspan="">
                <label>
                    <input type="text" class="layui-input" name='sale_money'
                           value="{{ search_sale_money_info.sale_money }}">
                </label>
            </th>
        </tr>
        <tr>
            <th style="font-size: large">
                备注
            </th>
            <th colspan="5">
                <label>
                    <input type="text" class="layui-input" name="remake"
                           value="{{ search_sale_money_info.remake }}">
                </label>
            </th>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>