<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>回款明细</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="../static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../static/lib/layui-v2.5.5/css/layui.css" media="all">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap-table-expandable.css">
    <script src="../static/js/bootstrap-table-expandable.js"></script>
</head>
<body>
<form action="/sale_money_info/" method="post">
    <div class="demoTable">
        开始时间:
        <label class="layui-inline">
            <input type="date" name="start_time" class="layui-input" autocomplete="off">
        </label>
        &ensp;
        &ensp;

        &ensp;
        &ensp;
        结束时间:
        <label class="layui-inline">
            <input type="date" name="end_time" class="layui-input" autocomplete="off">
        </label>
        &ensp;

        &ensp;
        区域:
        <label class="layui-inline">
            <input type="text" name="area" list="areas" class="layui-input">
        </label>
        <!-- 使用style="display:none;"将datalist元素设定为不显示 -->
        <datalist id="areas" style="display:none; ">
            {% for area in all_area_name %}
                <option name='area'>{{ area.area }}</option>
            {% endfor %}
        </datalist>
        &ensp;
        &ensp;

        &ensp;

        客户名:
        <label class="layui-inline">
            <input type="text" name="customer" list="customers" class="layui-input">
        </label>
        <!-- 使用style="display:none;"将datalist元素设定为不显示 -->
        <datalist id="customers" style="display:none; ">
            {% for customer_name in all_customer_name %}
                <option name='customer'>{{ customer_name.customer }}</option>
            {% endfor %}
        </datalist>
        &ensp;
        &ensp;

        &ensp;
        产品名:
        <label class="layui-inline">
            <input type="text" name="product" list="products" class="layui-input">
        </label>
        <!-- 使用style="display:none;"将datalist元素设定为不显示 -->
        <datalist id="products" style="display:none; ">
            {% for product in all_product_name %}
                <option name='product'>{{ product.product }}</option>
            {% endfor %}
        </datalist> &ensp;
        &ensp;

        &ensp;

        业务员:
        <label class="layui-inline">
            <input type="text" name="saleman" list="salemans" class="layui-input">
        </label>
        <!-- 使用style="display:none;"将datalist元素设定为不显示 -->
        <datalist id="salemans" style="display:none; ">
            {% for saleman in all_saleman_name %}
                <option name='saleman'>{{ saleman.saleman }}</option>
            {% endfor %}
        </datalist> &ensp;

        <button type="submit" class="layui-btn layui-btn-primary" lay-submit><i
                class="layui-icon"></i> 搜 索
        </button>

    </div>
</form>
<div>
    <table class="layui-hide" id="demo" lay-filter="user"></table>
</div>
<script>
    layui.use('table', function () {
        var table = layui.table;
        //展示已知数据
        table.render({
            elem: '#demo'
            , defaultToolbar: ['filter', 'exports', 'print']
            , toolbar: '#toolbarDemo'
            , totalRow: true
            , cols: [[ //标题栏
                {field: 'id', title: 'ID', maxWidth: 50, sort: true, totalRowText: '合计'}
                , {field: 'sale_date', title: '日期', minWidth: 150, sort: true}
                , {field: 'customer', title: '客户名', minWidth: 100, templet: addLink}
                , {field: 'product', title: '产品名', minWidth: 250}
                , {field: 'product_number', title: '数量', minWidth: 150, sort: true, }
                , {field: 'product_price', title: '单价', width: 250,}
                , {field: 'sale_money', title: '总价', minWidth: 100, totalRowText: {{sum_money|safe}}}
                , {field: 'saleman', title: '业务员', minWidth: 100, templet: saleman_link}
                , {field: 'area', title: '地区', minWidth: 150}
                , {field: 'remake', title: '备注', minWidth: 150, sort: true}
                , {field: 'right', title: '操作', toolbar: '#saleman_tool', width: 150}
            ]],
            data: [
                {% for foo in all_info %}
                    {
                        "id": "{{foo.id  }}"
                        , "sale_date": "{{foo.sale_date |date:'Y-m-d ' |safe }}"
                        , "customer": "{{foo.customer}}"
                        , "product": "{{foo.product}}"
                        , "product_number": "{{foo.product_number}}"
                        , "product_price": "{{ foo.product_price }}"
                        , "sale_money": "{{ foo.sale_money }}"
                        , "saleman": "{{ foo.saleman }}"
                        , "area": "{{ foo.area }}"
                        , "remake": "{{ foo.remake }}"
                    },
                {% endfor %}
            ],
            page: true,
        })
        ;
        table.on('tool(user)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url: "/delete_sale_money_info/",
                        type: "POST",
                        data: {id: data.id},
                        success: function (msg) {
                            if (msg === 200) {
                                //删除这一行
                                obj.del();
                                //关闭弹框
                                layer.close(index);
                                layer.msg("删除成功", {icon: 6});
                            } else {
                                obj.del();
                                //关闭弹框
                                layer.close(index);
                                layer.msg("删除成功", {icon: 6});
                            }
                        }
                    });
                    return false;
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    data: {id: data.id},
                    title: '回款信息编辑',
                    shadeClose: true,
                    shade: false,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['80%', '80%'],
                    content: '/edit_sale_money_info/?id=' + data.id
                });
            }
        });
    });
</script>
<script>
    function addLink(d) {
        var addLink = d.customer;
        if ('' === addLink || null == addLink) {
            return '';
        }
        if (addLink.length > 0) {
            return "<a class='layui-table-link' href='/customer_welcome/?customer_name=" + d.customer + "' lay-event='link'>" + d.customer + '</a>';
        }
    }

    function saleman_link(d) {
        var addLink = d.saleman;
        if ('' === addLink || null == addLink) {
            return '';
        }
        if (addLink.length > 0) {
            return "<a class='layui-table-link' href='/saleman_welcome/?saleman_name=" + d.saleman + "' lay-event='link'>" + d.saleman + '</a>';
        }
    }
</script>
<script type="text/html" id="saleman_tool">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="edit">编辑</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">删除</button>
    </div>
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData"></button>
    </div>
</script>
</body>

</html>